*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: row;
  /* width: 20em; */
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(151, 87, 253);
}
input{
  width: 3em;
  height : 3em;
  margin: 0em 0.2em;
  text-align: center;
  border: none;
  background: white;
}